<div class="centered">
  <div>
    <select [(ngModel)]="selectedOption" (ngModelChange)="selectChange()">
      <option *ngFor="let opt of months" [ngValue]="opt">{{ opt.label }}</option>
    </select>
  </div>

  <table class="calendar">
    <thead>
      <tr class="header-row">
        <th *ngFor="let wd of daysOfWeek">{{ wd }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
        <td *ngFor="let day of week.days">
          <app-summary-day [day]="day" [events]="getEventsForDay(day.d)" (onNewEvent)="createNewEvent($event)"></app-summary-day>
        </td>
      </tr>
    </tbody>
  </table>
</div>
