.summary-day {
  height: 50px;
  width: 50px;
  border: 1px solid #eee;
}

.not-a-day {
  background-color: #eee;
}

.summary-date {
  font-size: 10px;
  text-align: left;
  padding: 1px;
}

.today {
  border: 1px solid green;
}

.weekend {
  color: #d1d1d1;
}

.weekday {
  color: blue;
}
